[submodule "backend"]
	path = backend
	url = https://github.com/nexconnect-git/nexapp-shopping-api.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/nexconnect-git/nexapp-shopping-ui.git
